#setup_parent.grid-90.prefix-5.suffix-5.mobile-grid-90.mobile-prefix-5.mobile-suffix-5.grid-parent

  %h2#title.grid-100.mobile-grid-100 Experiment Setup

  %form#setup.grid-100.mobile-grid-100.grid-parent{ action: '/experiment/setup', method: 'post', onsubmit: "return validateSetup();" }

    #fields.grid-100.mobile-grid-100.grid-parent

      %span.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-33.mobile-grid-100 What is your name?
        %input#name_field.grid-66.mobile-grid-100{ type: 'text', name: 'name' }

      %span.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-33.mobile-grid-100 What is the name of the experiment?
        %input#title_field.grid-66.mobile-grid-100{ type: 'text', name: 'title' }
      .clear
      %br

      .grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-100.mobile-grid-100
          Please provide a brief description of the experiment
        %input#description.grid-100.mobile-grid-100{ type: 'text', name: 'description' }

      .grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-100.mobile-grid-100
          What do you expect to see happen in this experiment?
        %input#expectation.grid-100.mobile-grid-100{ type: 'text', name: 'expectations' }
      .clear
      %br 
    
      %span.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-75.mobile-grid-100 Can you view the cells as desired with the Leica Suite? (If so be sure to shut the Leica Suite down before continuing)
        .grid-25.mobile-grid-100{ align: 'center' }
          %input.radio{ type: 'radio', name: 'cells', value: 'true' } Yes
          %input.radio{ type: 'radio', name: 'cells', value: '', checked: true } No

      %span.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-75.mobile-grid-100 Is the drug administration dropper placed on the correct location of the slide?
        .grid-25.mobile-grid-100.grid-parent{ align: 'center' }
          %input.radio{ type: 'radio', name: 'dropper', value: 'true' } Yes
          %input.radio{ type: 'radio', name: 'dropper', value: '', checked: true } No
      .clear
    %br

    #submit_setup.grid-100.mobile-grid-100{ align: 'center' }
      %input.button.greenbutton{ type: 'submit', value: "Next" }

