#setup_parent.grid-90.prefix-5.suffix-5.mobile-grid-90.mobile-prefix-5.mobile-suffix-5.grid-parent

  %h2#title.grid-100.mobile-grid-100 Experiment Setup

  %form#settings.grid-100.mobile-grid-100.grid-parent{ action: '/experiment/form_test', method: 'post' }

    #fields.grid-100.mobile-grid-100.grid-parent

      %span#name_field.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-50.mobile-grid-100 What is your name?
        %input.small_text.grid-50.mobile-grid-100{ type: 'text', name: 'name' }

      %span#experiment_title.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-50.mobile-grid-100 What is the title of your experiment?
        %input.grid-50.mobile-grid-100.small_text{ type: 'text', name: 'title' }
      .clear
      %br

      %span#cells_check.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-50.mobile-grid-100 Are the cells positioned and visible under the microscope?
        #buttons.grid-50.mobile-grid-100{ align: 'center' }
          %input.radio{ type: 'radio', name: 'cells', value: true } Yes
          %input.radio{ type: 'radio', name: 'cells', value: false, checked: true } No

      %span#dropper_check.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-50.mobile-grid-100 Is the drug administration dropper placed correctly?
        #buttons.grid-50.mobile-grid-100.grid-parent{ align: 'center' }
          %input.radio{ type: 'radio', name: 'dropper', value: true } Yes
          %input.radio{ type: 'radio', name: 'dropper', value: false, checked: true } No
      .clear

      #experiment_description.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-100.mobile-grid-100
          Please provide a brief description of the experiment
        %input.large_text.grid-100.mobile-grid-100{ type: 'text', name: 'description' }

      #experiment_expectations.grid-parent.grid-40.prefix-5.suffix-5.mobile-grid-100
        %label.grid-100.mobile-grid-100
          What do you expect to see happen in this experiment?
        %input.large_text.grid-100.mobile-grid-100{ type: 'text', name: 'expectations' }
      .clear
    %br 
    #submit_settings.grid-100.mobile-grid-100{ align: 'center' }
      %input.button.startbutton{ type: 'submit', value: "Save" }

