#experiment_parent.grid-90.prefix-5.suffix-5.mobile-grid-90.mobile-prefix-5.mobile-suffix-5.grid-parent

  %h2#title.grid-100.mobile-grid-100 Current Experiment

  #img_container.grid-40.prefix-5.suffix-5.mobile-grid-100.grid-parent{ align: 'center' }
    %img#cell_img.grid-100.mobile-grid-100(src="/assets/imgs/#{@start_img}")

  #chart_container.grid-40.prefix-5.suffix-5.mobile-grid-100.grid-parent
    #chart.grid-95.suffix-5mobile-grid-95.mobile-suffix-5
    %p.grid-100.mobile-grid-100{ align: 'center' } 
      Click on the chart to set the threshold value
    
